.wrapper{
  display: flex;

  .chat-side{
    width: 300px;
    color: white;
    float: left;
    
  
    &__header{
      background-color: #253141;
      padding: 0 20px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &__box{
        color: white;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        &__user-name {
        font-weight: bold;
        }
        &__menu {
          display: flex;
          &__new-group {
            a {
              font-size: 15px;
              color: white;
              i {
                font-size: 15px;
              }
            }
          }
           
        }

      }
    }
    .chat-side__groups{
      background-color:  #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px 0;
      color: white;
      &__group{
        margin-bottom: 40px;
        &__group-name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        
        &__latest-message {
        font-size: 11px;
        }
      }
    }
  } 
  .chat-main{ 
    width: calc(100vw - 300px);
    
    &__header{
      padding: 0 40px 0;
      display: flex;
      
      &__left-box{
        margin-top: 35px;
      }
      &__left-box__current-group{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      
      &__left-box__member-list{
        display: flex;
        font-size: 12px;
        color: #999999;
      }
      &__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        color: #38aef0;
      } 
    }
      .chat-main__messages{
      background-color: #fafafafa;
      
      height: calc(100% - 320px);
      overflow: scroll;
      padding: 46px 40px;

        &__message{
          padding-bottom: 40px;
        }
        
        &__message__upper-info{
          margin-bottom: 10px;
          display: flex;
        }
          
        &__message__upper-info__talker{
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
        }
        &__message__upper-info__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
        &__message__text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px
        }
      } 
    }
    .chat-main__form{
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
      

      
      &__suika {
        height: 50px;
        width: 100%;
        color: #434a54;
        line-height: 90px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        .input-box__text{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
          position: relative;
          
        }
        &__image{
          position: absolute;
          right: 160px;
          i{
          
          }
        }
        .submit-btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;

        }
      }
      
      
      

    }

  }
 